.card {
  width: 23rem;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  border-radius: 10px;
  justify-content: space-between;
  position: relative;
  border: none;
  background-color: #ffeede86;
}

.card_img {
  width: 200px;
  border-radius: 10px;
}

.promo_container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.card_promo {
  width: 100%;
}
