.navbar {
  width: 100%;
  position: fixed;
}

.nav-link a {
  width: 60px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  color: var(--clr-slate900);
}

.navbar-button {
  margin: right;
}

.nav-link a:hover {
  color: var(--primary-color);
}

.nav-link:hover {
  border-radius: 8px;
  transition: 0.7s;
  background-color: var(--navbar-color);
}

.logo_container {
  width: 14rem;
}

.navbar_logo {
  width: 100%;
}
